* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';

}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

}

.main-extra2 {
  padding-bottom: 110px;
  padding-right: 7%;

  background-color: #1e3799;
  text-align: center;
}


.heading {
  padding-top: 20px;
  padding-bottom: 50px;

  color: #f5f6fa;
  text-align: center;

}

.heading h1 {
  font-weight: bold;
  text-align:center;
  margin-left: 5%;
}


.project {
  float: left;
  width: 20%;
  margin-left: 8%;
  margin-right: 3%;
}

.project-icon {
  position: relative;

}

.project-icon p {
  position: absolute;
  color: white;
  opacity:0.5;
  font-size: 20px;
  font-weight:bold;
  width: 100%;
  margin-top:10px;
  margin-left: 15%;
  margin-right: 15%;
}



.content{
  width: 80%;

  display:inline-block;
  margin-top:40px;
  font-size: 15px;
  font-weight:normal;
  color: white;
  opacity:0.5;
  margin-left: 24%;
}
.content p{
  text-align: center;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 2px;
  text-align: center;
  margin-left: 5%;
}

.btn:hover {
  opacity: 1;
}

.view {
  padding: 15px 40px;
  background-color: #87CEFA;
  cursor: pointer;
  box-shadow: 0 5px #000080;
  margin-top:50px;
}

.view:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}
